section.sobre {
    padding: 40px 20px 0;
    div.sobre__content {
        align-items: baseline
    }
}
.sobre {
    &__content {
        justify-content: space-between;
        max-width: 940px;
        margin: 0 auto;
        flex-wrap: wrap;
        @media only screen and (max-width: 881px) {
            justify-content: center;
            gap: 30px;
            text-align: center;
        }
        &__blocoHistoria {
            max-width: 580px;
            width: 100%;
        }
        &__blocoValores {
            max-width: 260px;
            width: 100%;
            ul {
                list-style-type: none;
                li {
                    font-family: Georgia, "Times New Roman", serif;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        &__blocoHistoria,
        &__blocoValores {
            h3 {
                font-size: 24px;
                line-height: 30px;
                font-weight: bold;
                letter-spacing: .1em;
                color: #000;
                text-transform: uppercase;
            }
            p {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 1em;
                padding-right: 60px;
                @media only screen and (max-width: 881px) {
                    padding: 0;
                }
            }
            .lineBlock::after{
                margin: 2px 0 20px;
                @media only screen and (max-width: 881px) {
                    margin: 20px auto 20px;
                }
            }
        }
    }
    &__imgSection{
        display: block;
        margin: 0 auto;
        padding: 20px 0 0 0;
        max-width: 940px;
        width: 100%;
    }
}