.contato {
    background-color: #000;
    &__container {
        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
        &__map {
            max-width: 600px;
            width: 100%;
            iframe {
                width: 100%;
                position: relative;
                z-index: 9999999999999999999999999999999;
                top: 0px;
            }
        }
    }
}

div.contato__container {
    padding: 60px 20px;
    justify-content: center;
    gap: 60px;
}

@keyframes spinner {
    0% {
        background-color: #c5c5c5;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #c5c5c5;
    }
  }