.contato {
    background-color: #000;
    &__container {
        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
        &__map {
            max-width: 600px;
            width: 100%;
            iframe {
                width: 100%;
            }
        }
    }
}

div.contato__container {
    padding: 60px 20px;
    justify-content: center;
    gap: 60px;
}