@import '../../styles/variaveis';

.quotes{
    &__container{
        flex-direction: column;
        color: $color3;
        p{
            padding: 0 20px;
            max-width: 400px;
            width: 100%;
            text-align: center;
        }
        h4{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: .1em;
        }
        p::before, 
        h4::before {
            content: "";
            display: block;
            background-color: $color3;
            margin: 14px auto 10px;
            width: 60px;
            height: 3px;
        }
    }
    &.__bg {
        background: url('../../assets/images/quotes/bg-footer.jpg') no-repeat center;
        background-size: cover;
    }
}

div.quotes__container {
    padding: 45px 0;
}

