@import './styles/_variaveis.scss';

body, * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", serif;
}

.container, .container-section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.container-section {
  padding: 40px 20px;
}

h3.section-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

h3.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.section-description {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.line-block::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.line-block-internas::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}

.line-block-internas-produtos::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}